@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .taskDiv {
    @apply h-16 mb-1 p-2 px-5 shadow-lg border-b border-gray-400 dark:border-gray-900 hover:shadow-gray-800 flex gap-2 items-center justify-between cursor-pointer;
  }
  .important {
    @apply bg-yellow-700 text-yellow-400 rounded-full hover:rotate-[360deg] duration-500;
  }
  .notImportant {
    @apply rounded-full hover:rotate-[360deg] duration-500;
  }
  .deleteTask {
    @apply text-sm sm:text-xl rounded-full p-0.5 hover:bg-red-600 hover:rotate-180 hover:text-gray-300 hover:transition-transform duration-500;
  }
  .subtaskLengthSpan {
    @apply text-[10px] font-extralight flex items-center gap-1 lg:text-xs;
  }
  .taskAddInputDiv {
    @apply h-10 bg-blue-700 mx-2 my-3 rounded-full relative sm:h-14 sm:flex items-center justify-center;
  }
}

body {
  font-family: 'Montserrat';
}
.active {
  color: #2563eb;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 0 25px 0 0;
}

::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 0 25px 0 0;
}
