@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
}

.active {
  @apply text-blue-700 font-semibold;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 0 25px 0 0;
}

::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 0 25px 0 0;
}
