@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

@import 'tailwindcss';

@theme {
  --height-dynamicScreen: 100dvh;
  --text-md: 1.1rem;
  --text-md--line-height: 1.25rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Montserrat';
  }
}

.active {
  @apply text-blue-700 font-semibold;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 0 25px 0 0;
}

::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 0 25px 0 0;
}
